@media screen and (min-width: 641px)
{
    body
    {
        background-color: #d8f7e5;
        margin: auto;
        padding: 0;
        min-height: 100%;
        font-family: Arial;
    }

    header{
        height: 200px;
        position: relative;

        img{
            margin-left: 40%;
        }
    }


    #User{
        position: absolute;
        right: 20px;
        top: 20px;
    }

    #User>img{
        width: 50px;
    }

    #User>ul{
        background-color: #98c3c6;  
        padding: 10px;
        list-style-type:none;
        display: none;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4); 
        font-size: 15px;
    }

    #User:hover ul{
        display: block;
        cursor: pointer;
    }


    #User a{
        color: black;
        text-decoration: none;
        font-weight: bold;
    }

    #User a:hover{
        color: white;
    }

    li:hover{
        color: white;
    }

    h1{

        margin-left: 35%;
        text-decoration: underline;
        color: #f5f5f5;
        text-shadow: 1px 1px 5px rgb(155,155,155), -1px 1px 5px black;

    }

    #Blabla
    {
        margin-left: auto;
        width: intrinsic;
    }


    .Bloc
    {
        height: 400px;
        width: 200px;
        display: inline-block;
        background-color: #52dae4;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.55);
        -moz-transition-property: height, box-shadow;
        -o-transition-property: height, box-shadow;
        -webkit-transition-property: height, box-shadow;
        transition-property: height, box-shadow;
        -moz-transition-duration: 0.15s;
        -o-transition-duration: 0.15s;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        text-decoration: none;
    }


    .Bloc:hover
    {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
        height: 430px;
    }

   .Bloc:first-child{
        float:left;
   }

    a>p{
        text-align: center;
        color: white;
        text-shadow: 0px 2px 5px black;

        font-size: 20px;
        margin: 75% auto;

    }

    div.btn { position: relative; overflow: hidden; width:200px; height:400px; margin: 10px;display: inline-block;}
    div.btn > a { cursor: pointer;}
    .qe { display: block; position: absolute; background: rgba(180,180,180, 0.7); border-radius: 100%; transform: scale(0);}
    .qe.ani {
        animation: ripple 0.5s linear;
        webkit-animation: ripple 0.5s linear;
    }
    @keyframes ripple { 100% {opacity: 0; transform: scale(2.5);} }
    @-webkit-keyframes ripple { 100% {opacity: 0; transform: scale(2.5);} }
}

@media screen and (max-width: 640px)
{
    body
    {
        background-color: #d8f7e5;
        margin: auto;
        padding: 0;
        min-height: 100%;
        font-family: Arial;
    }

    header{
        width:100%;
        height: 200px;
        position: relative;
    }

    header>img{
        margin-left: 25%;
    }

    #User{
        width:100%;
        margin-top: 20px;
        position: fixed;
        bottom: 0px;
    }

    #User>img{
        display:none;
    }

    #User b{
        width: intrinsic;
        margin: auto;
        display:block;
    }

    #User b::before{
        content:"Connecté en tant que: ";
    }

    #User>ul{
        padding: 10px;
        list-style-type:none;
        display: block;
        font-size: 15px;
        width:100%;
    }

    ul>li{
        width:100%;
    }

    li>a{
        background-color: red;  
        color: black;
        font-weight: bold;
        text-decoration:none;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4); 
        border-radius: 5px;
        width: 100%;
        padding: 10px 34%;
    }

    h1{

        margin-left: 6%;
        text-decoration: underline;
        font-size: 26px;
        color: #f5f5f5;
        text-shadow: 1px 1px 5px rgb(155,155,155), -1px 1px 5px black;

    }

    #Blabla
    {
        margin-left: 5px;
        width: 97%;
    }

    .Bloc
    {
        height: 150px;
        width: 100%;
        display: inline-block;
        margin: 7px 1px;
        background-color: #52dae4;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.55);   
        text-decoration: none;
    }

    a>p{
        text-align: center;
        color: white;
        text-shadow: 0px 2px 5px black;

        font-size: 20px;

        margin-top: 60px;

    }
}